/* Dialogue.module.css */

.question {
  background-color: #e6ffe6; /* light green */
  border-left: 4px solid #28a745; /* green border */
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.answer {
  margin-bottom: 1rem;
}

.answer a {
  color: #28a745; /* green text */
  font-weight: 600;
  text-decoration: underline;
}

.answer a:hover {
  color: #19692c; /* darker green on hover */
}

.link a {
  color: #282aa7; /* blue text */
  font-weight: 600;
  text-decoration: underline;
}

.link a:hover {
  color: #8d14b5; /* darker purple on hover */
}

.quote {
  border-left: 4px solid #7c3aed;
  padding-left: 16px;
  background-color: #f3e8ff;
  color: #4b0082;
  border-radius: 8px;
  font-style: italic;
}


.reply {
  border-left: 4px solid #7d5a04;
  padding-left: 16px;
  background-color: #edd05a;
  color: #4b0082;
  border-radius: 8px;
  font-style: italic;
}
